beautifulsoup4==4.6.0
boto==2.48.0
boto3==1.6.3
botocore==1.9.3
bz2file==0.98
certifi==2018.1.18
chardet==3.0.4
click==6.7
docutils==0.14
Flask==0.10.1
Flask-SQLAlchemy==2.0
Flask-WTF==0.10.3
futures==3.2.0
gensim==3.4.0
idna==2.6
ijson==2.3
itsdangerous==0.24
Jinja2==2.7.3
jmespath==0.9.3
MarkupSafe==0.23
nltk==3.4.5
numpy==1.14.1
pandas==0.22.0
PyMySQL==0.6.3
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
s3transfer==0.1.13
scipy==1.0.0
six==1.11.0
smart-open==1.5.6
SQLAlchemy==0.9.8
urllib3==1.22
Werkzeug==0.9.6
wikipedia==1.4.0
WTForms==2.0.1
